<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firstcode">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <provider android:authorities="com.example.customcontentprovider.provider" />
    </queries>

    <application
        android:name=".chapter15.WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstCode">
        <activity
            android:name=".chapter13.workmanager.WorkManagerActivity"
            android:exported="true" />
        <activity
            android:name=".chapter13.room.RoomActivity"
            android:exported="true" />
        <activity
            android:name=".chapter13.livedata.LiveDataActivity"
            android:exported="true" />
        <activity
            android:name=".chapter13.lifecycle.LifecycleObserverActivity"
            android:exported="true" />
        <activity
            android:name=".chapter13.viewmodel.ViewModelActivity"
            android:exported="true" />
        <activity
            android:name=".chapter12.FruitActivity"
            android:exported="true"
            android:theme="@style/Theme.FirstCode.FruitActivityTheme" />
        <activity
            android:name=".chapter12.MaterialDesignActivity"
            android:exported="true"
            android:label="MaterialDesign"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".chapter11.retrofit.RetrofitActivity"
            android:exported="true" />
        <activity
            android:name=".chapter11.network.ParseActivity"
            android:exported="true" />
        <activity
            android:name=".chapter11.network.NetworkActivity"
            android:exported="true" />
        <activity
            android:name=".chapter11.webview.WebViewActivity"
            android:exported="true" />

        <service
            android:name=".chapter10.service.CustomIntentService"
            android:exported="false" />
        <service
            android:name=".chapter10.service.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".chapter10.service.CustomService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".chapter10.service.ServiceActivity"
            android:exported="true" />
        <activity
            android:name=".chapter10.thread.ThreadActivity"
            android:exported="true" />
        <activity
            android:name=".chapter9.multimedia.PlayVideoActivity"
            android:exported="true" />
        <activity
            android:name=".chapter9.multimedia.PlayMusicActivity"
            android:exported="true" />
        <activity
            android:name=".chapter9.multimedia.MultimediaActivity"
            android:exported="true" />
        <activity
            android:name=".chapter9.camera.CameraActivity"
            android:exported="true" />
        <activity
            android:name=".chapter9.notification.NotificationIntentActivity"
            android:exported="true" />
        <activity
            android:name=".chapter9.notification.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".chapter8.contentprovider.ContentProviderActivity"
            android:exported="true" />
        <activity
            android:name=".chapter8.permission.RuntimePermissionActivity"
            android:exported="true" />
        <activity
            android:name=".chapter7.database.DatabaseActivity"
            android:exported="true" />
        <activity
            android:name=".chapter7.sp.SharedPreferencesActivity"
            android:exported="true" />
        <activity
            android:name=".chapter7.file.FileStorageActivity"
            android:exported="true" />
        <activity
            android:name=".chapter6.offline.LoginSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".chapter6.offline.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".chapter6.send.SendBroadcastActivity"
            android:exported="true" />
        <activity
            android:name=".chapter6.register.DynamicRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".chapter5.news.NewsActivity"
            android:exported="true" />
        <activity
            android:name=".chapter5.news.NewsContentActivity"
            android:exported="true" />
        <activity
            android:name=".chapter4.chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".chapter4.recyclerview.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".chapter4.listview.ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".chapter3.launchmode.SingleInstanceActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".chapter3.launchmode.SingleTaskActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".chapter3.launchmode.SingleTopActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".chapter3.launchmode.StandardActivity"
            android:exported="true"
            android:launchMode="standard" />
        <activity
            android:name=".chapter3.launchmode.LaunchModeActivity"
            android:exported="true" />
        <activity
            android:name=".chapter3.lifecycle.NormalActivity"
            android:exported="true" />
        <activity
            android:name=".chapter3.lifecycle.DialogActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".chapter3.lifecycle.LifecycleActivity"
            android:exported="true" />
        <activity
            android:name=".chapter3.intent.DataActivity"
            android:exported="true" />
        <activity
            android:name=".chapter3.intent.BrowserActivity"
            android:exported="true">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter3.intent.IntentActivity"
            android:exported="true"
            android:label="IntentActivity">
            <intent-filter>
                <action android:name="${applicationId}.action" />

                <category android:name="${applicationId}.category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".chapter6.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chapter6.receiver.StandardReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="${applicationId}.standard" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chapter6.receiver.OrderedOneReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="${applicationId}.ordered" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chapter6.receiver.OrderedTwoReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter android:priority="100">
                <action android:name="${applicationId}.ordered" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".chapter15.WeatherActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>